body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin: 0; }

.yellow {
  color: #ecd407; }

#main-header {
  position: relative;
  background-image: url(..//img/background.png);
  height: 100vh;
  background-size: cover;
  background-position: center; }
  #main-header #main-logo .fa-university {
    font-size: 30px;
    padding-left: 120px;
    padding-top: 30px; }
  #main-header #main-logo h1 {
    display: inline-block; }
  #main-header #main-logo,
  #main-header #contact-data {
    display: inline-block; }
  #main-header #contact-data {
    position: absolute;
    right: 120px;
    width: 160px;
    padding-top: 30px; }
    #main-header #contact-data .fa-phone {
      color: #fff;
      font-size: 30px;
      padding-right: 5px;
      float: left; }
    #main-header #contact-data #phone span {
      display: block; }

#form-section {
  position: absolute;
  width: 370px;
  right: 120px;
  bottom: 100px; }
  #form-section fieldset {
    border: none;
    background-color: #001d8a; }
    #form-section fieldset input:not([type="submit"]), #form-section fieldset textarea {
      width: 100%;
      height: 50px;
      font-family: "Open Sans", sans-serif;
      padding: 10px;
      margin-bottom: 10px; }
    #form-section fieldset textarea {
      height: 80px;
      resize: none; }
    #form-section fieldset input[type="submit"] {
      padding: 20px;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 700;
      border: none;
      background-color: #ecd407;
      transition: all .7s; }
      #form-section fieldset input[type="submit"]:hover {
        background-color: #fff; }

footer {
  background-color: #292929;
  text-align: center;
  padding: 50px; }
  footer .col-1-2-footer {
    float: left;
    width: 50%;
    margin-bottom: 20px; }
    footer .col-1-2-footer .fa {
      height: 50px;
      width: 50px;
      line-height: 50px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 10px;
      font-size: 20px;
      color: #000;
      background-color: #ecd407; }
    footer .col-1-2-footer .fa, footer .col-1-2-footer span {
      display: block; }

@media (max-width: 768px) {
  #main-header #main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%; }
    #main-header #main-logo .fa-university {
      padding-left: 0; }
  #main-header #contact-data {
    position: initial;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px; }
  #form-section {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    bottom: 50px;
    width: 330px; }
  footer .col-1-2-footer {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center; } }
