@import 'variables';
@import 'mixins';

footer {
    background-color: $gray-color;
    text-align: center;
    padding: $space-medium;
    
    .col-1-2-footer {
        float: left;
        width: 50%;
        margin-bottom: 20px;
        
        .fa {
            height: $space-medium;
            width: $space-medium;
            line-height: $space-medium;
            @include center-block;
            margin-bottom: $space-small;
            font-size: 20px;
            color: #000;
            background-color: $yellow-color;
        }
        
        .fa, span {
            display: block;
        }
    }
}