@import 'variables';
@import 'mixins';

#main-header {
    position: relative;
    background-image: url(..//img/background.png);
    height: 100vh;
    @include background-settings(center, cover);
    
    #main-logo {
        .fa-university {
            font-size: 30px;
            padding-left: $space-large;
            padding-top: 30px
        }
        
        h1 {
            display: inline-block;
        }
    }
    
    #main-logo,
    #contact-data {
        display: inline-block;
    }
    
    #contact-data {
        position: absolute;
        right: $space-large;
        width: 160px;
        padding-top: 30px;
        
        .fa-phone {
            color: #fff;
            font-size: 30px;
            padding-right: 5px;
            float: left;
        }
        
        #phone span {
            display: block;
        }
    }
}
