@import 'variables';

@mixin background-settings($position, $size) {
    background-size: $size;
    background-position: $position;
}

@mixin center-block {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}