@import 'variables';
@import 'mixins';

@media (max-width: 768px) {
    #main-header {
        #main-logo {
            display: block;
            @include center-block;
            width: 50%;
             
            .fa-university {
                padding-left: 0;
            }
        }
        
        #contact-data {
            position: initial;
            display: block;
            @include center-block;
             padding-top: $space-small;
        }
    }
    
    #form-section {
        //position: initial;
        left: 0;
        right: 0;
        @include center-block;
        bottom: $space-medium;
        width: 330px;
    }
    
    footer {
        .col-1-2-footer {
            float: none;
            @include center-block;
        }
    }
}
